openapi: 3.1.0
info:
  title: Airbrake REST API
  version: "v4"
  description: |
    Best-effort OpenAPI 3.1 representation of the Airbrake REST API derived from
    https://docs.airbrake.io/docs/devops-tools/api/. Airbrake is an error
    monitoring and APM platform exposing endpoints for projects, deploys,
    groups (errors), notices, source maps, performance routes/queries/queues
    statistics, and project activities. Authentication uses query-string keys
    (project key, user key, or user token).
  contact:
    name: Airbrake
    url: https://docs.airbrake.io/docs/devops-tools/api/
servers:
  - url: https://api.airbrake.io
    description: Airbrake API
tags:
  - name: Sessions
  - name: Projects
  - name: Deploys
  - name: Groups
  - name: Notices
  - name: Source Maps
  - name: Performance
  - name: Activities
  - name: iOS Crash Reports
paths:
  /api/v4/sessions:
    post:
      tags: [Sessions]
      summary: Create user token (login)
      operationId: createSession
      responses:
        '200': { description: OK }
  /api/v4/projects:
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}:
    get:
      tags: [Projects]
      summary: Show project
      operationId: showProject
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/deploys:
    get:
      tags: [Deploys]
      summary: List deploys
      operationId: listDeploys
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    post:
      tags: [Deploys]
      summary: Create deploy
      operationId: createDeploy
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '201': { description: Created }
  /api/v4/projects/{project_id}/deploys/{deploy_id}:
    get:
      tags: [Deploys]
      summary: Show deploy
      operationId: showDeploy
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: deploy_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/groups:
    get:
      tags: [Groups]
      summary: List groups across all projects
      operationId: listAllGroups
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/groups:
    get:
      tags: [Groups]
      summary: List groups for project
      operationId: listGroups
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/groups/{group_id}:
    get:
      tags: [Groups]
      summary: Show group
      operationId: showGroup
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    delete:
      tags: [Groups]
      summary: Delete group
      operationId: deleteGroup
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }
  /api/v4/projects/{project_id}/groups/{group_id}/muted:
    put:
      tags: [Groups]
      summary: Mute group
      operationId: muteGroup
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/groups/{group_id}/unmuted:
    put:
      tags: [Groups]
      summary: Unmute group
      operationId: unmuteGroup
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/groups/{group_id}/stats:
    get:
      tags: [Groups]
      summary: Group statistics
      operationId: groupStats
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v3/projects/{project_id}/notices:
    post:
      tags: [Notices]
      summary: Create notice (error occurrence)
      operationId: createNotice
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '201': { description: Created }
  /api/v4/projects/{project_id}/groups/{group_id}/notices:
    get:
      tags: [Notices]
      summary: List notices in group
      operationId: listNotices
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/notice-status/{notice_uuid}:
    get:
      tags: [Notices]
      summary: Show notice status
      operationId: showNoticeStatus
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: notice_uuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/sourcemaps:
    get:
      tags: [Source Maps]
      summary: List source maps
      operationId: listSourceMaps
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    post:
      tags: [Source Maps]
      summary: Create source map
      operationId: createSourceMap
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '201': { description: Created }
  /api/v4/projects/{project_id}/sourcemaps/{source_map_id}:
    get:
      tags: [Source Maps]
      summary: Show source map
      operationId: showSourceMap
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: source_map_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    delete:
      tags: [Source Maps]
      summary: Delete source map
      operationId: deleteSourceMap
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
        - name: source_map_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }
  /api/v5/projects/{project_id}/routes-stats:
    put:
      tags: [Performance]
      summary: Submit route performance stats
      operationId: putRoutesStats
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v5/projects/{project_id}/routes-breakdowns:
    put:
      tags: [Performance]
      summary: Submit routes breakdown
      operationId: putRoutesBreakdowns
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v5/projects/{project_id}/queries-stats:
    put:
      tags: [Performance]
      summary: Submit database query stats
      operationId: putQueriesStats
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v5/projects/{project_id}/queues-stats:
    put:
      tags: [Performance]
      summary: Submit queue stats
      operationId: putQueuesStats
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/activities:
    get:
      tags: [Activities]
      summary: List project activities
      operationId: listActivities
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v4/projects/{project_id}/stats:
    get:
      tags: [Activities]
      summary: Project statistics
      operationId: projectStats
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /api/v3/projects/{project_id}/ios-reports:
    post:
      tags: [iOS Crash Reports]
      summary: Create iOS crash report
      operationId: createIosReport
      parameters:
        - name: project_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '201': { description: Created }
components:
  securitySchemes:
    ProjectKey:
      type: apiKey
      in: query
      name: key
      description: Project key, user key, or user token passed as the `key` query string parameter.
security:
  - ProjectKey: []
