openapi: 3.1.0
info:
  title: Airbrake REST Activities Notices API
  version: v4
  description: 'Best-effort OpenAPI 3.1 representation of the Airbrake REST API derived from

    https://docs.airbrake.io/docs/devops-tools/api/. Airbrake is an error

    monitoring and APM platform exposing endpoints for projects, deploys,

    groups (errors), notices, source maps, performance routes/queries/queues

    statistics, and project activities. Authentication uses query-string keys

    (project key, user key, or user token).

    '
  contact:
    name: Airbrake
    url: https://docs.airbrake.io/docs/devops-tools/api/
servers:
- url: https://api.airbrake.io
  description: Airbrake API
security:
- ProjectKey: []
tags:
- name: Notices
paths:
  /api/v3/projects/{project_id}/notices:
    post:
      tags:
      - Notices
      summary: Create notice (error occurrence)
      operationId: createNotice
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: Created
  /api/v4/projects/{project_id}/groups/{group_id}/notices:
    get:
      tags:
      - Notices
      summary: List notices in group
      operationId: listNotices
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /api/v4/projects/{project_id}/notice-status/{notice_uuid}:
    get:
      tags:
      - Notices
      summary: Show notice status
      operationId: showNoticeStatus
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
      - name: notice_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ProjectKey:
      type: apiKey
      in: query
      name: key
      description: Project key, user key, or user token passed as the `key` query string parameter.
